html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.description {
    font-weight: 300;
}

.entry {
    width: 85%;
}

.entry div {
    padding: 3px 0;
    font-size: 1.1em;
}

.search-title {
    margin: 15px 0 0 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.keywords {
    font-weight: bold;
}
.data-link {
    margin-top: 15px;
    text-align: center;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #e6e6e6;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper select {
    margin: 0 5px;
    width: 240px;
}

#page-content-wrapper {
  width: 100%;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}